# pip install https://github.com/aobo711/bootstrap-django-admin/zipball/master
Django==1.8.19
defusedxml==0.4.1
django-tastypie==0.13.3
django-extensions==1.7.4
lxml==3.1.2
six==1.10.0
wsgiref==0.1.2
https://github.com/mredar/bootstrap-django-admin/archive/master.zip
#-e git://github.com/aobo711/bootstrap-django-admin.git#egg=bootstrap-django-admin
#MySQL-python==1.2.4
longerusername==0.4
https://github.com/jpwatts/django-positions/archive/master.zip
WebTest>=2.0.10
django-webtest>=1.7.5
mock>=1.0.1
django-dbdump==1.0.1
mimeparse
