{% extends "base.html" %}

{% block content-inner %}
<div class="row">
  <div class="span10 well" style="line-height:25px">
    <p>
      Welcome to the Collection Registry for the UC Libraries Digital Collection (UCLDC)!
    </p>
    
    <p>
      The Collection Registry is an interface for staff at the UC campus libraries to define, track, and manage information about collections in the UCLDC. It is a key component of the UCLDC that will serve three key purposes. It will:
    </p>
    
    <ol style="margin-left:40px">
      <li style="line-height:25px">
        Drive some essential display requirements for the UCLDC public interface, for example faceting search results by campus name or collection.
      </li>
      <li style="line-height:25px">
        Enable campus libraries to denote and track the status of digital collections slated for the UCLDC, for example by indicating the location of collections ready for harvest.
      </li>
      <li style="line-height:25px">
        Provide a platform for collaborative digital collection development and/or digitization planning.
      </li>
    </ol>
    
    <p>
      This interface is under development, as part of the broader implementation of the UCLDC. Please report any bugs or feedback to <a href="mailto:ucldc@ucop.edu">ucldc@ucop.edu</a>.
    </p>
    
    <p>
      For more information about the UCLDC and the Implementation Project, visit our project <a href="https://wiki.library.ucsf.edu/display/UCLDC/UCLDC+Implementation" target="_blank">wiki</a>.
    </p>
  </div>
</div>
{% endblock content-inner %}