{% extends "base.html" %}

{% block content-inner %}
<div class="row">
  <div class="span10 well" style="line-height:25px">
    <p>
      Welcome to the Collection Registry for the UC Libraries Digital Collection (UCLDC)!
    </p>
    
    <h4>What it is</h4>
    <p>
      The Collection Registry is a key component of the UCLDC that will enable campus library staff to:
    </p>
    
    <ol style="margin-left:40px">
      <li style="line-height:25px">
        Create information that will be displayed in the UCLDC’s public interface, for example as facets.
      </li>
      <li style="line-height:25px">
        Track the status of digital collections slated for the UCLDC, for example by indicating the location of collections ready for harvest.
      </li>
      <li style="line-height:25px">
        Engage in collaborative digital collection development and/or digitization planning.
      </li>
    </ol>
    
    <h4>Terms of use</h4>
    <p>
      This interface is under development, as part of the broader implementation of the UCLDC. At this time, parts of this site are limited to our project collaborators. Use of the site by other individuals is restricted to viewing this web interface.
    </p>
    
    <h4>Learn more</h4>
    <p>
      We welcome your feedback! Please report any bugs, questions, or ideas to <a href="mailto:oacops@cdlib.org">oacops@cdlib.org</a>. For more information about the UCLDC and the Implementation Project, visit our project <a href="https://wiki.library.ucsf.edu/display/UCLDC/UCLDC+Implementation">wiki</a>.
    </p>
  </div>
</div>
{% endblock content-inner %}