{% extends "library_collection/collection.html" %}
{% load staticfiles %}

{% block title %} | {{ collection.name }}{% endblock %}

{% block styles %}
<link href="{% static 'collection_edit.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container-fluid collection-edit">
  <div class="row span12 well">
    <form action="{% url 'edit_detail' colid=collection.id col_slug=collection.slug %}" method="post" id="edit_collection_detail">
    {% csrf_token %}
      <!-- <div class="row">
        <h2 class="pull-left">Title</h2>
      </div> -->
      <input type="text" name="name" value="{{collection.name}}" class="span11 title-input"></input>

      <div style="position: relative; top: -10px">
        <h4>Affiliation</h4>
        <div class="well">
          <div class="row">
            <div class="span1" style="text-align: left">
              <span style="color: #0088CC">Campus</span>
            </div>
            <div class="span10">
              <select multiple name="campuses" class="chosen-select span3" data-placeholder="Select Campus Affiliation">
                {% for campus in campuses %}
                <option value="{{ campus.id }}" {% if campus in collection.campus.all %}selected{% endif %}>
                  {{ campus.name }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <hr class="collection-edit-hr" style="width: 100%; border-top: 0px; border-bottom: 1px solid #e3e3e3"/>
          <div class="row">
            <div class="span1" style="text-align: left">
              <span style="color: #0088CC">Unit</span>
            </div>
            <div class="span10">
              <select multiple name="repositories" class="chosen-select span3" data-placeholder="Select Unit">
                {% for repo in repositories %}
                <option value="{{ repo.id }}" {% if repo in collection.repository.all %}selected{% endif %}>
                  {{ repo.name }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <h4>Source</h4>
        <div class="well">
          <div class="row">
            <div class="span1" style="text-align: left">
              <span style="color: #0088CC">Data Source</span>
            </div>
            <div class="span10">
              {% for choice in appendixChoices %}
              <input type="radio" name="appendix" value="{{ choice.0 }}" {% if choice.0 == collection.appendix %}checked{% endif %}>
                {{ choice.1 }}
              </input>
              {% endfor %}
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
        <a href="{% url 'edit_detail' colid=collection.id col_slug=collection.slug %}" class="btn"><i class="icon-ban-circle"></i> Cancel</a>
      </div>
      
    </form>
  </div>
</div>
{% endblock %}

{% if user.is_authenticated %}
{% block inlineScripts %}
<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}
{% endif %}