{% extends "library_collection/collection.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'collection_edit.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  <div class="row">
  <div class="col-12">
  <div class="card bg-light">
  <div class="card-body">
    {% if edit %}
    <form action="{% url 'edit_detail' colid=collection.id col_slug=collection.slug %}" method="post" id="edit_collection_detail">
    {% elif new %}
    <form action="{% url 'edit_collections' %}" method="post" id="new_collection">
    {% endif %}
      {% csrf_token %}
      <div class="form-group">
      <label for="name" class="sr-only">Collection Title:</label>
      <input type="text" id="name" name="name" placeholder="Collection Title" value="{% if collection %}{{collection.name}}{% endif %}" class="col-11 form-control title-input"></input>
      </div>

      <h4>Affiliation</h4>
      <div class="card bg-light">
        <div class="card-body" style="padding-bottom: 0">
          <div class="form-group row">
            <div class="col-1" style="text-align: left">
              <label class="col-form-label"for="campuses" style="color: #0088CC">Campus</label>
            </div>
            <div class="col-10">
              <select multiple id="campuses" name="campuses"
                  class="chosen-select col-3"
                  data-placeholder="Select Campus Affiliation"
                  {% if exists %}disabled{% endif %}>
                {% for campus in campuses %}
                <option value="{{ campus.id }}" {% if collection %}{% if campus in collection.campus.all or campus in collection.campus %}selected{% endif %}{% endif %}>
                  {{ campus.name }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <hr class="collection-edit-hr" style="width: 100%; border-top: 0px; border-bottom: 1px solid #e3e3e3"/>
          <div class="form-group row">
            <div class="col-1" style="text-align: left">
              <label class="col-form-label"for="repositories" style="color: #0088CC">Unit</label>
            </div>
            <div class="col-10">
              <select multiple id="repositories" name="repositories"
                  class="chosen-select col-3" data-placeholder="Select Unit"
                  {% if exists %}disabled{% endif %}>
                {% for repo in repositories %}
                <option value="{{ repo.id }}"  {% if collection %}{% if repo in collection.repository.all or repo in collection.repository %}selected{% endif %}{% endif %}>
                  {{ repo }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>

      <h4>Descriptive Information</h4>
      <div class="card bg-light">
        <div class="card-body" style="padding-bottom: 0">
          <div class="form-group row">
            <div class="col-1" style="text-align: left">
              <label class="col-form-label" for="description" style="color: #0088CC">Description</label>
            </div>
            <div class="col-10">
              <textarea type="text" id="description" name="description"
              class="col-9 form-control">{%if collection %}{{collection.description}}{% endif %}</textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2" style="text-align: left">
              <label class="col-form-label"for="local_id" style="color: #0088CC">Local ID</label>
            </div>
            <div class="col-9">
              <input type="text" id="local_id" name="local_id"
                value="{%if collection %}{{collection.local_id}}{% endif %}"
              class="col-5 form-control">
              </input>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2" style="text-align: left">
              <label class="col-form-label"for="url_local" style="color: #0088CC">Collection homepage URL</label>
            </div>
            <div class="col-9">
              <input type="text" id="url_local" name="url_local"
                value="{%if collection %}{{collection.url_local}}{% endif %}"
              class="col-5 form-control">
              </input>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2" style="text-align: left">
              <label class="col-form-label"for="url_oac" style="color: #0088CC">OAC finding aid URL</label>
            </div>
            <div class="col-9">
              <input type="text" id="url_oac" name="url_oac"
                value="{%if collection %}{{collection.url_oac}}{% endif %}"
              class="col-5 form-control">
              </input>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
      {% if edit %}
      <a href="{% url 'edit_detail' colid=collection.id col_slug=collection.slug %}" class="btn btn-secondary"><i class="icon-ban-circle"></i> Cancel</a>
      {% elif new %}
      <a href="{% url 'edit_collections' %}" class="btn btn-secondary"><i class="icon-ban-circle"></i> Cancel</a>
      {% endif %}

      
    </form>
  </div>
  </div>
  </div>
  </div>
{% endblock %}

{% if user.is_authenticated %}
{% block inlineScripts %}
<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}
{% endif %}
