{% extends "base.html" %}

{% load staticfiles %}

{% block styles %}
<link href="{% static 'collection_edit.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container-fluid collection-edit">
  <div class="row span12 well">
    <form action="{% url 'edit_collections' %}" method="post" id="new_collection">
      {% csrf_token %}
      <label for="name"><span class="hide">Collection Title:</span></label>
      <input type="text" name="name" id="name" placeholder="Collection Title" class="span11 title-input"></input>
      
      <div style="position: relative; top: -10px">
        <h4>Affiliation</h4>
        <div class="well">
          <div class="row">
            <div class="span1" style="text-align: left">
              <label for="campuses"><span style="color: #0088CC">Campus</span></label>
            </div>
            <div class="span10">
              <select multiple id="campuses" name="campuses" class="chosen-select span3" data-placeholder="Select Campus Affiliation">
                {% for campus in campuses %}
                <option value="{{ campus.id }}">
                  {{ campus.name }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <hr class="collection-edit-hr" style="width: 100%; border-top: 0px; border-bottom: 1px solid #e3e3e3"/>
          <div class="row">
            <div class="span1" style="text-align: left">
              <label for="repositories"><span style="color: #0088CC">Unit</span></label>
            </div>
            <div class="span10">
              <select multiple id="repositories" name="repositories" class="chosen-select span3" data-placeholder="Select Unit">
                {% for repo in repositories %}
                <option value="{{ repo.id }}">
                  {{ repo.name }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        
        <h4>Source</h4>
        <div class="well">
          <div class="row">
            <div class="span1" style="text-align: left">
              <label for="appendix"><span style="color: #0088CC">Data Source</span></label>
            </div>
            <div class="span10">
              {% for choice in appendixChoices %}
              <input type="radio" id="appendix" name="appendix" value="{{ choice.0 }}">
                {{ choice.1 }}
              </input>
              {% endfor %}
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
        <a href="{% url 'edit_collections' %}" class="btn"><i class="icon-ban-circle"></i> Cancel</a>
    </form>
  </div>
</div>
{% endblock content %}

{% if user.is_authenticated %}
{% block inlineScripts %}
<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}
{% endif %}