{% extends "base.html" %}

{% block title %} | {% if campus %}{{ campus.name }}{% endif %} Units{% endblock %}

{% block content-inner %}
<div class="row">
  <div class="span10">
    {% if user.is_authenticated and editing %}
        <form action="{% url 'edit_repositories' %}" method="post">
          {% csrf_token %}
          <button type="submit" name="edit" value="true" class="btn"><i class="icon-plus"></i> Add new Unit</button>
        </form>
    {% endif %}
    
    <table class="table table-bordered table-striped">
      <tbody>
        {% if edit %}
          <form action="{% url 'edit_repositories' %}" method="post">
            {% csrf_token %}
            <tr>
              <td>
                <input type="text" name="name" style="width: 400px; margin-bottom:0px" placeholder="Unit Title"></input>
                <select multiple name="campuses" class="chosen-select" data-placeholder="Select Campus Affiliation">
                  {% for campus in campuses %}
                  <option value="{{ campus.id }}">
                    {{ campus.name }}
                  </option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
                <a href="{% url 'edit_repositories' %}" class="btn"><i class="icon-ban-circle"></i> Cancel</a>
              </td>
            </tr>
          </form>
        {% endif %}
        {% for repository in repositories %}
        <tr>
          <td>
            {{ repository.name }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="span2">
    {% block navbar-campus %}
    <h4>Limit by campus</h4>
    <div class="navbar">
      <div class="navbar-inner" style="padding-right: 0px; padding-left: 0px">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav nav-stacked" style="margin: 0px">
              {% for campus_iter in campuses %}
              <li class="{% if campus_iter == campus %}active{% endif %}" style="width: 100%">
                {% if user.is_authenticated and editing %}
                  {% if campus_iter == campus %}
                    <a href="{% url "edit_repositories" %}">
                      <div class="row-fluid">
                        <div class="pull-left"><i class="icon-remove" style="margin-right: .75em;"></i></div>
                        <div style="overflow: hidden; ">{{ campus_iter.name }}</div>
                      </div>
                    </a>
                  {% else %}
                    <a href="{% url "edit_repositories" campus_slug=campus_iter.slug %}">
                      <div class="row-fluid">
                        <div class="pull-left"><i class="icon-remove" style="visibility:hidden; margin-left: .75em"></i></div>
                        <div style="overflow: hidden;">{{ campus_iter.name }}</div>
                      </div>
                    </a>
                  {% endif %}
                {% else %}
                  {% if campus_iter == campus %}
                    <a href="{% url "repositories" %}">
                      <div class="row-fluid">
                        <div class="pull-left"><i class="icon-remove" style="margin-right: .75em;"></i></div>
                        <div style="overflow: hidden; ">{{ campus_iter.name }}</div>
                      </div>
                    </a>
                  {% else %}
                    <a href="{% url "repositories" campus_slug=campus_iter.slug %}">
                      <div class="row-fluid">
                        <div class="pull-left"><i class="icon-remove" style="visibility:hidden; margin-left: .75em"></i></div>
                        <div style="overflow: hidden;">{{ campus_iter.name }}</div>
                      </div>
                    </a>
                  {% endif %}
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock content-inner %}

{% if user.is_authenticated %}
{% block inlineScripts %}
<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}
{% endif %}