{% extends "base.html" %}

{% block title %} | {% if campus %}{{ campus.name }}{% endif %} Units{% endblock %}

{% block content-inner %}
<div class="row">
  <div class="span10">
    {% if user.is_authenticated and editing %}
        <form action="{% url 'edit_repositories' %}" method="post">
          {% csrf_token %}
          <button type="submit" name="edit" value="true" class="btn"><i class="icon-plus"></i> Add new Unit</button>
        </form>
    {% endif %}

    {{ repositories.count }} Units
    <table class="table table-bordered table-striped">
      <tbody>
        {% if edit %}
          <form action="{% url 'edit_repositories' %}" method="post">
            {% csrf_token %}
            <tr>
              <td>
                <label for="name" class="hide">Unit Title</label>
                <input type="text" id="name" name="name" style="width: 400px; margin-bottom:0px" placeholder="Unit Title" value="{% if repository %}{{repository.name}}{% endif %}"></input>
                <label for="campuses" class="hide">Campuses</label>
                <select multiple id="campuses" name="campuses" class="chosen-select" data-placeholder="Select Campus Affiliation">
                  {% for campus in campuses %}
                  <option value="{{ campus.id }}" {% if campus_list and campus in campus_list %}selected{% endif %}>
                    {{ campus.name }}
                  </option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
                <a href="{% url 'edit_repositories' %}" class="btn"><i class="icon-ban-circle"></i> Cancel</a>
              </td>
            </tr>
          </form>
        {% endif %}
        {% for repository in repositories %}
        <tr>
          <td>
            <a href="{% url 'repository_collections' repoark=repository.ark  %}">{{ repository.name }}</a>
            <small class="muted">
              {% for name in repository.campus.all %}
                {{ name }}
              {% endfor %}
            </small>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include "library_collection/_navbar_campus.html" with edit_this="edit_repositories" this="repositories"%}
</div>
{% endblock content-inner %}

{% if user.is_authenticated %}
{% block inlineScripts %}
<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}
{% endif %}
