{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="margin-top: 20px;">
  <div class="row">
    <div class="span10 well" style="line-height:25px">
      <p>Welcome {{user}}. You have requested an account for the UC Libraries Digital Collection (UCLDC).</p> 
      <p>At this time, accounts are limited to UCLDC Implementation Project collaborators (SAG2 and Product Stakeholder Group members and their designees). If your request is approved, you will receive an email within 72 hours with additional instructions on how to edit the Collection Registry and access the Nuxeo DAMS.</p>

      <p>For more information about UCLDC Implementation, visit our <a href="https://wiki.library.ucsf.edu/display/UCLDC/UCLDC+Implementation">project wiki</a> or contact <a href="mailto:oacops@cdlib.org">oacops@cdlib.org</a>.</p>
    </div>
  </div>
</div>
{% endblock %}