{% extends exhibitBaseTemplate|pjax_available:request %}
{% load markdown_filter %}

{% if calisphere %}
  {% block page-metadata %}
    {% include "calisphere/microdata.html" with title=essay.title description="Calisphere supports classroom activities and research efforts for students from elementary school through higher education. Essays explore the history of California and the state's evolving diversity." meta_image=essay.social_media_card %}
  {% endblock %}
{% else %}

{% block content %}
  <nav role="navigation">
    <ol id="global__breadcrumb">
      <li><a href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">Exhibitions</a></li>
    </ol>
  </nav>
  
  <h1 class="global__breadcrumb-header" id="js-exhibit-title" data-slug="{{ essay.slug }}">Essay: {{ essay.title }}</h1>
  
  <div class="exhibit__hero" style="background-image: url('{{ thumbnailUrl }}clip/1400x280/{{ essay.hero }}')">
    <div class="col-sm-6">
      {% if essay.blockquote %}<blockquote class="exhibit__blockquote">{{ essay.blockquote }}</blockquote>{% endif %}
    </div>
  </div>

  <div class="row essay__content">
    <div class="col-md-7">
      <div class="exhibit__overview" id="overview">
        {% include "exhibits/render_as.html" with render_as=essay.render_as text=essay.essay truncate=False container_class="" %}
      </div>
    </div>
    <div class="col-md-5">
      <div class="exhibit__notes">
        {% if essay.go_further %}
          <div class="essay__note">
            <h3>Go further</h3>
            {% include "exhibits/render_as.html" with render_as=essay.go_further_render_as text=essay.go_further truncate=False container_class="" %}
          </div>
        {% endif %}
        {% if essay.published_exhibits.all|length > 0 %}
          <div class="essay__note">
            <h3>Related exhibitions</h3>
            {% for hee in essay.published_exhibits.all %}
              <a href="{{ hee.exhibit.get_absolute_url }}" data-pjax="js-pageContent">{{ hee.exhibit }}</a><br/>
            {% endfor %}
          </div>
        {% endif %}
        {% if essay.published_themes.all|length > 0 %}
          <div class="essay__note">
            <h3>Related themes</h3>
            {% for het in essay.published_themes.all %}
              <a href="{{ het.theme.get_absolute_url }}" data-pjax="js-pageContent">{{ het.theme }}</a><br/>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if essay.byline %}
  <div class="row no-gutters">
    <div class="col">
    <h2>About this essay:</h2>
    {% include "exhibits/render_as.html" with render_as=essay.byline_render_as text=essay.byline truncate=False container_class="" %}
    </div>
  </div>
  {% endif %}
  <div class="row no-gutters">
    <div class="col">
    <h2>Using this essay:</h2>
    <p>
      The text of this essay is available under a <a href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons CC-BY license</a>. You are free to share and adapt it however you like, provided you provide attribution as follows:
    </p>
    <p>
      {{ essay.title }} curated by {{ essay.curator }}, available under a <a href="<a href='https://creativecommons.org/licenses/by/4.0/'>">CC BY 4.0 license</a>. &#169; {{ essay.copyright_year }}, {{ essay.copyright_holder }}.
    </p>
    <p>
      Please note that this license applies only to the descriptive copy and does not apply to any and all digital items that may appear.
    </p>
    </div>
  </div>

{% endblock %}
