{% extends exhibitBaseTemplate|pjax_available:request %}
{% load markdown_filter %}

{% if calisphere %}
  {% block page-metadata %}
    {% include "calisphere/microdata.html" with title="Exhibitions Browse" description="Take a deep dive into a topic or era. Exhibitions are groups of items curated and interpreted by librarians, historians, and other experts. Join a civil rights protest. Marvel at the engineering of an early car. Get a glimpse of what life was like for people throughout history."%}
  {% endblock %}
{% endif %}

{% block content %}
{% include "exhibits/exhibitsHeader.html" with active="a-z" %}

<div class="row">
  <div class="col-md-3">
    <div class="row margin-right-10">
      <div class="button__exhibitDirectory-tabs-container">
        <h3>Browse by theme:</h3>
        <a class="button__exhibitDirectory-tabs{% if selected == 'all' %}--selected{% endif %}"
          href="{% url 'exhibits:exhibitDirectory' 'all' %}" data-pjax="js-pageContent">
          All exhibitions
        </a>
        {% for category, display in categories %}
          <a class="button__exhibitDirectory-tabs{% if selected == category %}--selected{% endif %}"
            href="{% url 'exhibits:exhibitDirectory' category %}" data-pjax="js-pageContent">
            {{ display }}
          </a>
        {% endfor %}
        <a class="button__exhibitDirectory-tabs{% if selected == 'uncategorized' %}--selected{% endif %}"
          href="{% url 'exhibits:exhibitDirectory' 'uncategorized' %}" data-pjax="js-pageContent">
          Uncategorized
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-9 exhibitDirectory">
    {% for theme, exhibits in themes %}
      {% if theme != '' %}
        <h2>{{ exhibits|length }} exhibition{{ exhibits|pluralize }} in <a href="{{ theme.get_absolute_url }}" data-pjax="js-pageContent">{{ theme.title }}</a></h2>
      {% endif %}
      <div class="row exhibitDirectory__exhibits">
        {% for exhibit in exhibits %}
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{{ exhibit.get_absolute_url }}" data-pjax="js-pageContent">
              <div class="exhibit__lockup--med">
                <div class="exhibit__lockup--med-image">
                  <div class="aspect-ratio-content exhibit__lockup--med-image-content" style="background-image: url('{{ exhibit.exhibit_lockup }}');">
                  </div>
                </div>
                <div class="exhibit__lockup--med-title">
                  <div class=" exhibit__lockup--med-title-content">{% if theme != '' and exhibit.short_title %}{{ exhibit.short_title }}{% else %}{{ exhibit }}{% endif %}</div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
        {% if theme != '' %}
          <div class="col-md-6 col-sm-8 col-xs-12">
            <a href="{{ theme.get_absolute_url }}" data-pjax="js-pageContent">
              <div class="theme__lockup--horizontal">
                <div class="theme__lockup--horizontal-image">
                  <div class="aspect-ratio-content theme__lockup--horizontal-image-content" style="background-image: url('{{ theme.theme_lockup }}');">
                  <div class="theme__lockup--horizontal-color" style="background-color: {{ theme.color }}"></div>
                  <div class="theme__lockup--horizontal-title">
                      {{ theme.title }}
                      <div class="theme__lockup--horizontal-exhibit-count">Go to theme overview ></div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
