{% extends exhibitBaseTemplate|pjax_available:request %}
{% load markdown_filter %}

{% if calisphere %}
  {% block page-metadata %}
    {% include "calisphere/microdata.html" with title="Exhibitions on Calisphere" description="Take a deep dive into a topic or era. Exhibitions are groups of items curated and interpreted by librarians, historians, and other experts. Join a civil rights protest. Marvel at the engineering of an early car. Get a glimpse of what life was like for people throughout history."%}
  {% endblock %}
{% endif %}

{% block content %}
{% include "exhibits/exhibitsHeader.html" with active="random" %}

<div class="exhibitDirectory__exhibits">
  <div class="row" id="js-exhibit-wrapper">
    <div class="js-grid-sizer"></div>
  {% for set in sets %}
    {% for type, entry in set %}
      {% if type == 'exhibit' %}
        <div class="js-grid-item">
          <a href="{{ entry.get_absolute_url }}" data-pjax="js-pageContent">
            <div class="exhibit__lockup--med">
              <div class="exhibit__lockup--med-image">
                <div class="aspect-ratio-content exhibit__lockup--med-image-content" style="background-image: url('{{ entry.exhibit_lockup }}');">
                </div>
              </div>
              <div class="exhibit__lockup--med-title">
                <div class="exhibit__lockup--med-title-content">{{ entry }}</div>
              </div>
            </div>
          </a>
        </div>
      {% else %}
        <div class="js-grid-item grid-item-width2">
          <a href="{{ entry.get_absolute_url }}" data-pjax="js-pageContent">
            <div class="theme__lockup--horizontal">
              <div class="theme__lockup--horizontal-image">
                <div class="aspect-ratio-content theme__lockup--horizontal-image-content" style="background-image: url('{{ entry.theme_lockup }}');">
                  <div class="theme__lockup--horizontal-color" style="background-color: {{ entry.color }}"></div>
                  <div class="theme__lockup--horizontal-title">
                    {{ entry.title }}
                    <div class="theme__lockup--horizontal-exhibit-count">{{ entry.published_exhibits.all|length }} exhibition{{ entry.published_exhibits.all|pluralize }}</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
</div>
{% endblock %}
