<h1>Exhibitions on Calisphere</h1>

<div class="exhibitDirectory__intro">

  <div class="row">
    <div class="col-xs-12 col-sm-6 collect-intro__overview">
      <p>Take a deep dive into a topic or era. Exhibitions are groups of items curated and interpreted by librarians, historians, and other experts. Join a civil rights protest. Marvel at the engineering of an early car. Get a glimpse of what life was like for people throughout history.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
    </div>
  </div>

  <!-- Dynamically add class 'button__secondary' to <a> elements below for selected state -->

  <div class="exhibitDirectory__button-container">
    <a class="btn btn-default exhibitDirectory__button {% if active == 'random' %}button__secondary{% endif %}" href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">Random Explore</a>
    <a class="btn btn-default exhibitDirectory__button {% if active == 'a-z' %}button__secondary{% endif %}" href="{% url 'exhibits:exhibitDirectory' 'all' %}" data-pjax="js-pageContent">Browse All</a>
    <a class="btn btn-default exhibitDirectory__button {% if active == 'search' %}button__secondary{% endif %}" href="{% url 'exhibits:exhibitSearch' %}" data-pjax="js-pageContent">Title Search</a>
  </div>

  <hr/>
</div>

