{% extends exhibitBaseTemplate|pjax_available:request %}
{% load markdown_filter %}

{% if calisphere %}
  {% block page-metadata %}
    {% include "calisphere/microdata.html" with title="Exhibitions Title Search" description="Take a deep dive into a topic or era. Exhibitions are groups of items curated and interpreted by librarians, historians, and other experts. Join a civil rights protest. Marvel at the engineering of an early car. Get a glimpse of what life was like for people throughout history."%}
  {% endblock %}
{% endif %}

{% block content %}
{% include "exhibits/exhibitsHeader.html" with active="search" %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 exhibit__title-search-wrapper">
    <form class="exhibit__title-search" role="search" id="js-exhibitTitleSearch" action="{% url 'exhibits:exhibitSearch' %}" method="get">
      <label for="exhibit__search-field" class="exhibit__search-label display-none">Search exhibitions</label>
      <div class="input-group">
        <input id="exhibit__search-field" form="js-exhibitTitleSearch" name="title" value="{{ searchTerm }}" type="search" placeholder="Start typing exhibition name" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default global-search__button" type="submit" aria-label="search"><span class="fa fa-search"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="row exhibitDirectory__exhibits">
  {% for exhibit in exhibits %}
    <div class="col-md-5ths col-sm-4 col-xs-6">
      <a href="{{ exhibit.get_absolute_url }}" data-pjax="js-pageContent">
        <div class="exhibit__lockup--med">
          <div class="exhibit__lockup--med-image">
            <div class="aspect-ratio-content exhibit__lockup--med-image-content" style="background-image: url('{{ exhibit.exhibit_lockup }}');">
            </div>
          </div>
          <div class="exhibit__lockup--med-title">
            <div class="exhibit__lockup--med-title-content">{{ exhibit }}</div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}
