<div class="row primarysource">
  {% for item in exhibitItems %}
    {% with item.solrData as exhibitItemData %}
    <div class="col-xs-6 col-sm-3 col-md-2">
        <a class="primarysource__link js-exhibit-item" href="{% url url_name url_id item.item_id %}" title="{% if exhibitItemData %}{{ exhibitItemData.title.0 }}{% else %}{{ item.custom_title }}{% endif %}">

        <div class="thumbnail__container">
          {% if exhibitItemData %}
              {% if exhibitItemData.reference_image_md5 %}
                <img class="thumbnail__image"
                src="{{ thumbnailUrl }}crop/210x210/{{ exhibitItemData.reference_image_md5 }}"
                srcset="{{ thumbnailUrl }}crop/210x210/{{ exhibitItemData.reference_image_md5 }} 60w, {{ thumbnailUrl }}crop/310x310/{{ exhibitItemData.reference_image_md5 }} 50w"
                sizes="100vw"
                alt="{{ exhibitItemData.title.0|truncatewords:12 }}">
                {% if exhibitItemData.type_ss.0|lower == "moving image" %}
                <div class="thumbnail__overlay-icon fa-video-camera"></div>
                {% elif exhibitItemData.type_ss.0|lower == "sound"%}
                <div class="thumbnail__overlay-icon fa-volume-up"></div>
                {# elif exhibitItemData.type_ss.0|lower == "text" #}
                <!-- <div class="thumbnail__overlay-icon fa-file-text-o"></div> -->
                {% elif exhibitItemData.type_ss.0|lower == "dataset" %}
                <div class="thumbnail__overlay-icon fa-bar-chart"></div>
                {% endif %}
              {% else %}
                {% if exhibitItemData.type_ss.0|lower == "moving image" %}
                <div class="thumbnail__tile-icon fa-video-camera"></div>
                {% elif exhibitItemData.type_ss.0|lower == "sound"%}
                <div class="thumbnail__tile-icon fa-volume-up"></div>
                {% elif exhibitItemData.type_ss.0|lower == "text"%}
                <div class="thumbnail__tile-icon fa-file-text-o"></div>
                {% elif exhibitItemData.type_ss.0|lower == "dataset" %}
                <div class="thumbnail__tile-icon fa-bar-chart"></div>
                {% elif exhibitItemData.type_ss.0|lower == "image" %}
                <div class="thumbnail__tile-icon fa-picture-o"></div>
                {% endif %}
              {% endif %}
          {% elif item.custom_crop %}
            <img class="thumbnail__image" src="{{ thumbnailUrl }}crop/210x210/{{ item.custom_crop }}"
            srcset="{{ thumbnailUrl }}crop/210x210/{{ item.custom_crop }} 60w, {{ thumbnailUrl }}crop/310x310/{{ item.custom_crop }} 50w"
            sizes="100vw">
          {% endif %}

          <div class="exhibit__caption">
            {% if exhibitItemData %}
              {{ exhibitItemData.title.0 }}
            {% elif item.custom_title %}
              {{ item.custom_title }}
            {% else %}
              {{ item.item_id }} not in Calisphere solr index
            {% endif %}
          </div>
        </div>
        </a>
    </div>
    {% endwith %}
    {% if forloop.counter == 12 %}
      <div class="js-exhibit-items-overflow hidden-content" style="width: 100%;">
    {% endif %}
  {% endfor %}
  
  {% if exhibitItems|length > 12 %}
    </div>
  {% endif %}
  
</div>

<div class="row text-right">
  {% if exhibitItems|length > 12 %}
    <a href="javascript: void(0)" class="js-show-all-exhibit-items">View all</a>
  {% endif %}
</div>
