{% load markdown_filter %}
{% load exhibit_extras %}

<div class="exhibit__modal">
  {% if prevItem %}
  <a class="js-exhibit-item exhibit__modal-arrow" href="{% url url_name url_id prevItem.item_id %}" aria-label="previous item">
    <div class="exhibit__modal-arrow-position">
      <i class="fa fa-angle-left exhibit__modal-arrow-size"></i>
    </div>
  </a>
  {% else %}
  <div class="exhibit__modal-arrow">
    <div class="exhibit__modal-arrow-position">
      <i class="fa fa-angle-left exhibit__modal-arrow-size opacity-0"></i>
    </div>
  </div>
  {% endif %}

  <div class="exhibit__modal-content-wrapper">
  {% with clipto="500x500" %}
  {% if exhibitItem.solrData %}
  {% with item=exhibitItem.solrData %}
    <div class="exhibit__modal-content">
      <div class="obj-container__simple-{% if 'reference_image_md5' in item %}image{% else %}tile{% endif %}">
        <a class="obj__link" href="{% if not active_tab %}{% url 'calisphere:itemView' item.id %}{% endif %}" data-pjax="js-pageContent">
        {% if item.reference_image_md5 %}
          <div class="obj__icon-container">
            <img class="obj__simple-image" src="{{ thumbnailUrl }}clip/{{ clipto }}/{{ item.reference_image_md5 }}" alt="{{ item.title.0 }}" style="width: {{ item.reference_image_dimensions|clip_width:clipto }}px;height: {{ item.reference_image_dimensions|clip_height:clipto }}px;max-width: 100%">
            {% if item.type_ss.0|lower == "moving image" %}
            <div class="obj__overlay-icon fa-video-camera"></div>
            {% elif item.type_ss.0|lower == "sound"%}
            <div class="obj__overlay-icon fa-volume-up"></div>
            {# elif item.type_ss.0|lower == "text"#}
            <!-- <div class="obj__overlay-icon fa-file-text-o"></div> -->
            {% elif item.type_ss.0|lower == "dataset" %}
            <div class="obj__overlay-icon fa-bar-chart"></div>
            {% endif %}
          </div>
        {% else %}
          <div class="thumbnail__container">
            {% if item.type_ss.0|lower == "moving image" %}
            <div class="obj__tile-icon fa-video-camera"></div>
            {% elif item.type_ss.0|lower == "sound"%}
            <div class="obj__tile-icon fa-volume-up"></div>
            {% elif item.type_ss.0|lower == "text"%}
            <div class="obj__tile-icon fa-file-text-o"></div>
            {% elif item.type_ss.0|lower == "dataset" %}
            <div class="obj__tile-icon fa-bar-chart"></div>
            {% endif %}
          </div>
        {% endif %}
        <div class="obj__caption">
          go to item page
        </div>
        </a>
      </div>
    </div>
    <div class="exhibit__modal-content exhibit__modal-metadata-container">
      <div class="exhibit__modal-description">
        {% if exhibitItem.essay %}
          {% include "exhibits/render_as.html" with render_as=exhibitItem.render_as text=exhibitItem.essay truncate=False container_class="" %}
        {% endif %}
      </div>
      <div class="exhibit__modal-metadata">
        <div class="exhibit-item__count">{{ item_count }} of {{ total_count }} in exhibition</div>
        <hr>
        <dl class="meta-block__list">
            <dt class="meta-block__type">Title</dt>
            <dd class="meta-block__defin">{{ item.title.0 }}</dd>

            {% if 'creator' in item %}
            <dt class="meta-block__type">Creator / Contributor</dt>
            <dd class="meta-block__defin">{{ item.creator.0 }}</dd>
            {% endif %}

            {% if 'date' in item %}
            <dt class="meta-block__type">Date Created and/or Issued</dt>
            <dd class="meta-block__defin">{{ item.date.0 }}</dd>
            {% endif %}

            {% if 'description' in item %}
            <dt class="meta-block__type">Description</dt>
            <dd class="meta-block__defin">{{ item.description.0 }}</dd>
            {% endif %}

            {% if 'subject' in item %}
            <dt class="meta-block__type">Subject</dt>
            <dd class="meta-block__defin">{{ item.subject.0 }}</dd>
            {% endif %}

            {% if 'parsed_repository_data' in item %}
            <dt class="meta-block__type">Contributing Institution</dt>
            <dd class="meta-block__defin">
              {% for repository in item.parsed_repository_data %}
                <a
                  href="{% if not active_tab %}{% url 'calisphere:repositoryView' repository.id 'collections' %}{% endif %}"
                  data-pjax="js-pageContent"
                  data-ga-code="{{ repository.ga_code }}"
                  data-ga-dim2="{{ repository.slug }}"
                >
                {% if repository.campus %}
                  {{ repository.campus }},
                {% endif %}
                {{ repository.name }}</a>
              {% endfor %}
            </dd>
            {% endif %}

            {% if 'parsed_collection_data' in item %}
              <dt class="meta-block__type">Collection</dt>
              <dd class="meta-block__defin">{% for collection in item.parsed_collection_data %}
                <a
                  href="{% if not active_tab %}{% url 'calisphere:collectionView' collection.id %}{% endif %}"
                  data-pjax="js-pageContent"
                  class="js-relatedCollection"
                  data-ga-dim1="{{ collection.local_id }}{{ collection.slug }}"
                >{{ collection.name }}</a> {% endfor %}</dd>
            {% endif %}
          </dl>
      </div>
    </div>
  {% endwith %}
  {% else %}
    <div class="exhibit__modal-content">
      <div class="obj-container__simple-{% if exhibitItem.custom_crop %}image{% else %}tile{% endif %}">
        {% if item.custom_link %}
          <a class="obj__link" href="{{ exhibitItem.custom_link }}">
        {% else %}
          <a class="obj__link" href="http://content.cdlib.org/{{ exhibitItem.item_id }}">
        {% endif %}
        {% if exhibitItem.custom_crop %}
          <div class="obj__icon-container">
            <img class="obj__simple-image full-width-max" src="{{ thumbnailUrl }}clip/{{ clipto }}/{{ exhibitItem.custom_crop }}">
          </div>
        {% else %}
          <div class="thumbnail__container"></div>
        {% endif %}
        <div class="obj__caption">
          go to item page
        </div>
        </a>
      </div>
    </div>
    <div class="exhibit__modal-content exhibit__modal-metadata-container">
      <div class="exhibit__modal-description">
        {% include "exhibits/render_as.html" with render_as=exhibitItem.render_as text=exhibitItem.essay truncate=False container_class="" %}
      </div>
      <div class="exhibit__modal-metadata">
        <div class="exhibit-item__count">{{ item_count }} of {{ total_count }} in exhibition</div>
        {% if exhibitItem.custom_metadata %}
          <hr>
          {% include "exhibits/render_as.html" with render_as=exhibitItem.metadata_render_as text=exhibitItem.custom_metadata truncate=False container_class="" %}
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% endwith %}
  </div>

  {% if nextItem %}
  <a class="js-exhibit-item exhibit__modal-arrow" href="{% url url_name url_id nextItem.item_id %}" aria-label="next item">
    <div class="exhibit__modal-arrow-position">
      <i class="fa fa-angle-right exhibit__modal-arrow-size"></i>
    </div>
  </a>
  {% else %}
  <div class="exhibit__modal-arrow">
    <div class="exhibit__modal-arrow-position">
      <i class="fa fa-angle-left exhibit__modal-arrow-size opacity-0"></i>
    </div>
  </div>
  {% endif %}
</div>
