{% extends exhibitBaseTemplate|pjax_available:request %}

{% if calisphere %}
	{% block page-metadata %}
		{% include "calisphere/microdata.html" with title='JARDA: Related Sites and Resources' %}
	{% endblock %}
{% endif %}

{% block content %}

<h1>JARDA: Related Sites and Resources</h1>

<!-- Begin Static About Component -->

<div class="static">

  <div class="col-sm-8 static__main">

<h2>Library, Archival, and Museum Collections and Exhibits</h2>

<p><a href="http://www.densho.org/">Densho</a><br/>
Oral history interviews, photos, newspapers, and other primary sources that document the Japanese American experience from immigration through redress with a strong focus on the World War II mass incarceration. Also includes an encyclopedia of Japanese American exclusion and internment and teaching resources.</p>

<p><a href="http://www.nwc.cc.wy.us/library/special/hmdpp/">Heart Mountain Digital Preservation Project</a><br/>
Features texts and photographs documenting the Heart Mountain Relocation Center. Includes a historical overview with suggested readings. Created by Northwest College, John Taggart Hinckley Library.</p>

<p><a href="http://www.lib.washington.edu/exhibits/harmony/default.htm">Japanese American Exhibit and Access Project</a><br/>
Focuses on the Camp Harmony assembly center in Puyallup, Washington, and highlights materials documenting the history of Japanese-Canadian internment. From the University of Washington Libraries.</p>

<p><a href="http://www.lib.utah.edu/collections/photo-exhibits/japanese-American-Internment.php">Japanese Americans Internment Camps During World War II</a><br/>
Photographs of the Tule Lake, California, and Topaz, Utah, internment camps in collections from the University of Utah, J. Willard Marriott Library, Special Collections Department.</p>

<p><a href="http://www.janm.org/nrc/">Japanese American National Museum, Manabi and Sumi Hirasaki National Resource Center</a><br/>
Links to online collections and resources documenting internment history available at the Japanese American National Museum (JANM), which includes the Civil Liberties Archives and Study Center. Includes incarceration fact sheets and a map of the internment camps, with links to basic data about the camps, chronologies, FAQs, and bibliographic references.</p>

<p><a href="http://www.jamsj.org/">The Japanese American Museum of San Jose (JAMsj)</a><br/>
Preserves and disseminates the culture and history of Japanese Americans, with a special focus on the Santa Clara Valley. Features photos and oral histories, and also provides educational resources, including films and speakers.</p>

<p><a href="http://masumimuseum.com/index.php/internment">Masumi Hayashi Photography</a><br/>
Panoramic photo collages created by Masumi Hayashi, Professor of photography at Cleveland State University, documenting her visits to all of the Japanese American internment camp sites.</p>

<p><a href="http://americanhistory.si.edu/perfectunion/experience/">A More Perfect Union: Japanese Americans and the US Constitution</a><br/>
Interactive galleries and a historical overview of the history of Japanese American internment, with over 800 images, sound files, and oral histories. Includes classroom activities for grades 2-6 and 7-12, and a bibliography. From the Smithsonian National Museum of American History, Behring Center.</p>

<p><a href="http://memory.loc.gov/ammem/aamhtml/aamhome.html">"Suffering Under a Great Injustice": Ansel Adams's Photographs of Japanese-American Internment at Manzanar</a><br/>
Contains over 200 images created by photographer Ansel Adams in 1943 documenting the Manzanar internment camp. Includes links to related resources, bibliographies, and a chronology. Created by the Library of Congress.</p>

<p><a href="http://www.sfmuseum.net/war/evactxt.html">Virtual Museum of the City of San Francisco: Internment of San Francisco Japanese </a><br/>
Features original text from articles that appeared in the San Francisco News from March 2 through April 27, 1942, with images. Published by the City of San Francisco.</p>

<p><a href="http://parentseyes.arizona.edu/wracamps/">War Relocation Authority Camps in Arizona, 1942-1946</a><br/>Approximately 40 images depicting life at Poston and Gila River internment camps, from collections in the University of Arizona Library.</p>

<h2>Books and Publications</h2>

<p>Chan, Sucheng. <span class="cite">Asian Americans: An Interpretive History</span> (Boston: Twayne Publishers, 1991), pp. 138-39.</p>

<p><a href="https://www.nps.gov/parkhistory/online_books/anthropology74/">Confinement and Ethnicity: An Overview of World War II Japanese American Relocation Sites</a><br/>Full text of this publication by Jeffery F. Burton et al. (2000).</p>

<p>Daniels, Roger. "Words Do Matter: A Note on Inappropriate Terminology and the Incarceration of Japanese Americans," in <span class="cite">Nikkei in the Pacific Northwest: Japanese Americans &amp; Japanese Canadians in the Twentieth Century,</span> ed. Louis Fiset and Gail M. Nomura (Seattle: Center for the Study of the Pacific Northwest, University of Washington Press, 2005), pp. 190-214.</p>

<p>Kikumura-Yano, Akemi, ed. <span class="cite">Encyclopedia of Japanese Descendents in the Americas</span> (New York: Altamira Press, 2004).</p> 

<p>Kitano, Harry. <span class="cite">Generations and Identity: The Japanese American.</span> Needham Heights, MA: Ginn Press, 1993.</p>

<p>Okubo, Mine. <span class="cite">Citizen 13660.</span> Seattle and London: University of Washington Press, 1946/2002.</p>

<p>Takaki, Ronald. <span class="cite">Strangers from A Distant Shore: A History of Asian Americans</span> (Boston: Little, Brown and Company, 1998).</p>

<h2>Films and Video Recordings</h2>

<p><a href="http://www.cetel.org/honor.html">The Color of Honor</a><br/>Information about this documentary film produced and directed by Loni Ding (1989), which focuses on the experiences of Japanese American service personnel in WWII.</p>

<p><a href="http://www.farfilm.com/films/days-of-waiting.html">Days of Waiting: The Life and Art of Estelle Ishigo</a><br/>Documentary film featuring artist Estelle Ishigo, by Steven Okazaki (1995).</p>

<p><a href="http://caamedia.org/films-for-educators/">Center for Asian American Media Education Videos</a><br/>List of video recordings available for ordering through the Center for Asian American Media (CAAM).</p>

<p><a href="http://www.pbs.org/pov/pov2001/ofcivilwrongsandrights/">Of Civil Rights and Wrongs: The Fred Korematsu Story</a><br/>Documentary film focusing on the 40-year legal case of Fred Korematsu, who challenged the legality of Japanese American internment in court. Created by Eric Paul Fournier (2000).</p>

<p><a href="http://www.pbs.org/pov/rabbitinthemoon/">Rabbit in the Moon</a> This award-winning documentary by Emiko Omori uses archival footage, home movies, and interviews to go beneath the myth of the "stoic" Japanese Americans. She reveals "political tensions, social and generational divisions, and resistance and collaboration in the camps."</p>

<p><a href="http://www.farfilm.com/films/unfinished-business.html">Unfinished Business: The Japanese American Internment Cases</a><br/>Documentary film by Steven Okazaki (1984) on Fred Korematsu, Gordon 
Hirabayashi, and Minoru Yasui.</p>

  </div>

  <div class="col-sm-4 static__sidebar">

  	<h2 class="static__sidebar-heading">Explore JARDA</h2>

  	<p><a href="/exhibitions/t11/jarda/" data-pjax="js-pageContent"></a>The Japanese American Relocation Digital Archive (JARDA)</a> contains thousands of primary sources documenting Japanese American internment.</p>
  	<a href="/exhibitions/t11/jarda/" data-pjax="js-pageContent">
			<img class="static__sidebar-img" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/uchida-family-at-manzanar.jpg" alt="Three generations of the Uchida family at Manzanar War Relocation Center">
		</a>

  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
