{% extends exhibitBaseTemplate|pjax_available:request %}
{% load markdown_filter %}

{% if calisphere %}
  {% block page-metadata %}
    {% include "calisphere/microdata.html" with title=lessonPlan.title description='Calisphere supports classroom activities and research efforts for students from elementary school through higher education. Use these lesson plans just as they are, or as springboards for your own creative ideas.' meta_image=lessonPlan.social_media_card %}
  {% endblock %}
{% endif %}

{% block content %}
  <div class="modal fade" id="js-exhibit-item" tabindex="-1" role="dialog">
    <div class="modal-dialog full-width">
      <div class="modal-header exhibit-item__modal-header">
        <button type="button" class="exhibit-item__modal-close-btn close" data-dismiss="modal" aria-label="Close" data-url="{{ lessonPlan.get_absolute_url }}"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-content exhibit-item__modal-content">
        <div id="js-exhibit-item__container">
          {% block itemContent %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <nav role="navigation">
    <ol id="global__breadcrumb">
      <li><a href="{% url 'for-teachers:lessonPlanDirectory' %}" data-pjax="js-pageContent">For Educators</a></li>
    </ol>
  </nav>
  
  <h1 class="lessonplan__header" id="js-exhibit-title" data-slug="{{ lessonPlan.slug }}">Lesson Plan: {{ lessonPlan.title }}</h1>
  <h2 class="lessonplan__h2">{{ lessonPlan.sub_title }}</h2>

  <div class="lessonplan__info">
    <div class="row">
      <div class="col-md-4">
        <div class="lessonplan__info-box">
          <a href="{{ lessonPlan.lesson_plan }}" class="lessonPlan"><span class="fa fa-arrow-circle-o-down"></span> Download Lesson Plan</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="lessonplan__info-box">
          <b>Unit Overview:</b><br>
          {% include "exhibits/render_as.html" with render_as=lessonPlan.render_as text=lessonPlan.overview truncate=False container_class="" %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="lessonplan__info-box">
          <b>Grade Level Recommendation:</b><br>
          {{ lessonPlan.grade_level }}<br><br>
          {% if lessonPlan.published_themes.all|length > 0 %}<b>Relates to:</b>{% endif %}
          {% for lpt in lessonPlan.published_themes.all %}{% if forloop.counter != 1 %}, {% endif %}<a href="{{ lpt.theme.get_absolute_url }}" data-pjax="js-pageContent">{{ lpt.theme }}</a>{% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  <div class="exhibit__items">
    <h2 class="exhibit__items-header">Primary sources used in this lesson plan ({{ exhibitItems|length }}):</h2>
    {% if exhibitItems|length > 12 %}<a href="javascript: void(0)" class="js-show-all-exhibit-items">View all</a>{% endif %}
    {% include "exhibits/exhibit_items.html" with url_name='for-teachers:lessonPlanItemView' url_id=lessonPlan.id %}    
  </div>
  
  
  <div class="row">
    {% if lessonPlan.byline %}
    <h3>About this lesson plan:</h3>
    {% include "exhibits/render_as.html" with render_as=lessonPlan.byline_render_as text=lessonPlan.byline truncate=False container_class="exhibit__byline" %}
    {% endif %}

    <h3>Using this lesson plan:</h3>
    <p>
      The text of this lesson plan is available under a <a href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons CC-BY license</a>. You are free to share and adapt it however you like, provided you provide attribution as follows:
    </p>
    <p>
      {{ lessonPlan.title }} curated by {{ lessonPlan.curator }}, available under a <a href="<a href='https://creativecommons.org/licenses/by/4.0/'>">CC BY 4.0 license</a>. &#169; {{ lessonPlan.copyright_year }}, {{ lessonPlan.copyright_holder }}.
    </p>
    <p>
      Please note that this license applies only to the descriptive copy and does not apply to any and all digital items that may appear.
    </p>
  </div>
  
  {% if lessonPlan.published_exhibits.all|length > 0 %}
  <div class="exhibit__related-materials">
    <h3>Explore exhibitions related to "{{ lessonPlan.title }}" ({{ lessonPlan.published_exhibits.all|length }}):</h3>
    <div class="exhibit__items exhibit__items-related-exhibits">
      <div class="row js-related-carousel exhibit__related-carousel">
        {% for lpe in lessonPlan.published_exhibits.all %}
          <div class="col-xs-2 col-md-3">
            <a href="{{ lpe.exhibit.get_absolute_url }}" data-pjax="js-pageContent">
              <div class="exhibit__lockup--med">
                <div class="exhibit__lockup--med-image">
                  <div class="aspect-ratio-content exhibit__lockup--med-image-content" style="background-image: url('{{ lpe.exhibit.exhibit_lockup }}');">
                  </div>
                </div>
                <div class="exhibit__lockup--med-title">
                  <div class="exhibit__lockup--med-title-content">{{ lpe.exhibit.title }}</div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  {% if relatedThemes|length > 0 %}
    {% for theme, relatedLessons in relatedThemes %}
      {% if relatedLessons|length > 0 %}
        <h3>Other lesson plans about "<a href="{{ theme.get_absolute_url }}" data-pjax="js-pageContent">{{ theme }}</a>" ({{ relatedLessons|length }}):</h3>
        <div class="row js-related-carousel exhibit__related-carousel">
          {% for lp in relatedLessons %}
            <div class="col-xs-2 col-md-3">
              <a href="{{ lp.lessonPlan.get_absolute_url }}" data-pjax="js-pageContent">
                <div class="exhibit__lesson-lockup">
                  <div class="aspect-ratio-content exhibit__lesson-lockup-image" style="background-image: url({{ lp.lessonPlan.lockup }});">
                    <div class="exhibit__lesson-lockup-color"></div>
                    <div class="exhibit__lesson-lockup-title">{{ lp.lessonPlan }}</div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  
  </div>

{% endblock %}
