{% load markdown_filter %}
{# with text, render_as, container_class truncate=True|False #}

{% if truncate %}
  {% if render_as == 'H' %}
    <div class="{{ container_class }}">
      {{ text|safe }}
    </div>
  {% elif render_as == 'M' %}
    <div class="{{ container_class }}">
      {{ text|markdownify|safe }}
    </div>
  {% else %}
    <div class="{{ container_class }}">
      {{ text }}
    </div>
  {% endif %}
  <a href="javascript: void(0)" id="{{ container_class }}"></a>
{% else %}
  {% if render_as == 'H' %}
    <div class="{{ container_class }}">
      {{ text|safe }}
    </div>
  {% elif render_as == 'M' %}
    <div class="{{ container_class }}">
      {{ text|markdownify|safe }}
    </div>
  {% else %}
    <div class="{{ container_class }}">
      {{ text }}
    </div>
  {% endif %}
{% endif %}