{% extends exhibitBaseTemplate|pjax_available:request %}
{% load markdown_filter %}

{% if calisphere %}
  {% block page-metadata %}
    {% include "calisphere/microdata.html" with title=theme.title meta_image=theme.social_media_card %}
  {% endblock %}
{% endif %}

{% block content %}
  <nav role="navigation">
    <ol id="global__breadcrumb" aria-labelledby="global__breadcrumb-label">
      <li><a href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">Exhibitions</a></li>
    </ol>
  </nav>
  <div class="theme__hero" style="background-image: url('{{ thumbnailUrl }}clip/1400x280/{{ theme.hero }}')">
    <h1 class="theme__header" id="js-exhibit-title" style="background-color: {{ theme.color }}">{{ theme.title }}</h1>
  </div>
  
  <!-- <div class="theme__main-content"> -->
  <div class="theme__main-content">
    <div class="theme__overview">
    <!-- <div class="theme__overview"> -->
      <h2>Overview</h2>
      {% include "exhibits/render_as.html" with render_as=theme.render_as text=theme.essay truncate=False container_class="" %}
    </div>
    <div class="theme__exhibits">
    <!-- <div class="theme__exhibits"> -->
      <h2>{{ relatedExhibits|length }} exhibitions:</h2>
      <div class="row">
        {% for exhibittheme in relatedExhibits %}
          <div class="col-sm-4 col-xs-6">
            <a href="{{ exhibittheme.exhibit.get_absolute_url }}" data-pjax="js-pageContent">
              <div class="exhibit__lockup--med">
                <div class="exhibit__lockup--med-image">
                  <div class="aspect-ratio-content exhibit__lockup--med-image-content" style="background-image: url('{{ exhibittheme.exhibit.exhibit_lockup }}');">
                  </div>
                </div>
                <div class="exhibit__lockup--med-title">
                  <div class="exhibit__lockup--med-title-content">{{ exhibittheme.exhibit.short_title }}</div>
                </div>
              </div>
            </a>
          </div>        
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div>
  {% if theme.published_essays.all|length > 0 %}
    <h3>Read related essays ({{ theme.published_essays.all|length }}):</h3>
    <div class="row js-related-carousel exhibit__related-carousel">
      {% for het in theme.published_essays.all %}
        <div class="col-xs-2 col-md-3">
          <a href="{{ het.historicalEssay.get_absolute_url }}" data-pjax="js-pageContent">
            <div class="exhibit__essay-lockup">
              <div class="aspect-ratio-content exhibit__essay-lockup-image" style="background-image: url({{ het.historicalEssay.lockup }});">
                <div class="exhibit__essay-lockup-color"></div>
                <div class="exhibit__essay-lockup-title">{{ het.historicalEssay.title }}</div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if theme.published_lessons.all|length > 0 %}
    <h3>Just for teachers: lesson plans ({{ theme.published_lessons.all|length }}):</h3>
    <div class="row js-related-carousel exhibit__related-carousel">
      {% for lpt in theme.published_lessons.all %}
        <div class="col-xs-2 col-md-3">
          <a href="{{ lpt.lessonPlan.get_absolute_url }}" data-pjax="js-pageContent">
            <div class="exhibit__lesson-lockup">
              <div class="aspect-ratio-content exhibit__lesson-lockup-image" style="background-image: url({{ lpt.lessonPlan.lockup }});">
                <div class="exhibit__lesson-lockup-color"></div>
                <div class="exhibit__lesson-lockup-title">{{ lpt.lessonPlan.title }}:<br/>{{ lpt.lessonPlan.sub_title }}</div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>
  
    {% if theme.byline %}
    <div class="row no-gutters">
    <div class="col">
    <h3>About this theme:</h3>
    {% include "exhibits/render_as.html" with render_as=theme.byline_render_as text=theme.byline truncate=False container_class="" %}
    </div>
    </div>
    {% endif %}
    <div class="row no-gutters">
    <div class="col">
    <h3>Using this theme:</h3>
    <p>
      The text of this theme is available under a <a href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons CC-BY license</a>. You are free to share and adapt it however you like, provided you provide attribution as follows:
    </p>
    <p>
      {{ theme.title }} curated by {{ theme.curator }}, available under a <a href="<a href='https://creativecommons.org/licenses/by/4.0/'>">CC BY 4.0 license</a>. &#169; {{ theme.copyright_year }}, {{ theme.copyright_holder }}.
    </p>
    <p>
      Please note that this license applies only to the descriptive copy and does not apply to any and all digital items that may appear.
    </p>
    </div>
  </div>
  
  
{% endblock %}
  
