<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
    <style>
    body { font-family: Arial, Helvetica, sans-serif;
           color: #7C7E7F;
    }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet"/>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


{% block header_top %}
    <div class="container-fluid">
    <div class="row" >
      <div class="span8" >
        <a href="http://wiki.library.ucsf.edu/display/UCLDC/UCLDC+Implementation">
	<h3>UC Libraries Digital Collection</h3>
	</a>
      </div>
      <div class="span5">
        <span class="pull-right"> 
          <a class="span1 pull-left" href="http://wiki.library.ucsf.edu/display/UCLDC/UCLDC+Implementation" title="This is the collection registry for the UCLDC. From here you can view and edit the collections contained in the UCLDC.">About</a>
          <span class="span3">
          {% if user.is_authenticated %}
          Welcome {{user}}
          {%else%}
          <a href="/edit{{current_path}}" class="btn" title="Login to edit collections or repositories">Edit</a>
          {%endif%}
          </span>
        </span>
       </div>
    </div>
    </div>
{% endblock header_top %}

{% block hero %}
    <div class="row span12">
        {% block hero-content %}<a href="{% url 'registry:collections' %}"><h2>Collection Registry</h2></a>{% endblock %}
    <hr></hr>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      {% if extent and extent != "0.0 B" %}
      {{ extent }} bytes need DAMS solution
      {% endif %}
    </div>
  </div>
  {% block nav-tabs %}
  <ul class="nav nav-tabs span12" style="margin-left: 0px;">
    <li {% if active_tab == 'collection' %}class="active"{%endif%}>
    {%if campus %}
    <a href="{%url 'registry:collections' campus_slug=campus.slug %}">Collections</a>
    {% else %}
    <a href="{%url 'registry:collections' %}">Collections</a>
    {% endif %}
    </li>
    <li {% if active_tab == 'repositories' %}class="active"{%endif%}>
    {%if campus %}
    <a href="{%url 'registry:repositories' campus_slug=campus.slug %}">Repositories</a>
    {% else %}
    <a href="{%url 'registry:repositories' %}">Repositories</a>
    {% endif %}
    </li>
  </ul>
  {% endblock nav-tabs %}
  {% block content-inner %}
  {% if collections %}
  <div class="row">
    <div class="span10">
      <table class="table table-bordered table-striped">
	<tbody>
      {% for collection in collections %}
          <tr>
	    <td>
              <a href="{% url 'registry:detail' colid=collection.id col_slug=collection.slug %}">{{ collection.name }}</a>
	    </td>
          </tr>
      {% endfor %}
	</tbody>
      </table>
    </div>
    <div class="span2">
    {% block navbar-campus %}
    <h4>Limit by campus</h4>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="{% url "registry:collections" %}">All</a>
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav nav-stacked">
              {% for campus_iter in campuses %}
              <li class="span1 {% if campus_iter == campus %}active{% endif %}">
		<a href="{% url "registry:collections" campus_slug=campus_iter.slug %}">{{ campus_iter.slug }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endblock navbar-campus %}
    </div>
  </div>
  {% endif %}
  {% endblock content-inner %}
{% endblock %}

<hr/>
    <div class="row">
      <div class="span3"><a href="/api">registry api</a></div>
      <div class="span3">
        <a href="http://libraries.universityofcalifornia.edu/ngts/activities-and-groups">NGTS Power of Three Groups (POTs)</a>
      </div>
      <div class="span3">
        <a href="http://ucngts.tumblr.com/">UC Libraries Next-Generation Technical Services Tumblr</a>
      </div>
      <div class="span3">
      Copyright © 2013 UC Regents.<br/> All rights reserved.
      </div>
    </div>

  </div>

<script>
  $(function () {
    $('a[rel=tooltip]').tooltip({'title': this.title, 'placement':'right'});
  })
</script>

  </body>
</html>
